@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

@code {
    private bool isInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        // Only check on first initialization to avoid infinite redirect loops
        if (!isInitialized)
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            // Get the current URL
            var currentUri = Navigation.ToBaseRelativePath(Navigation.Uri);

            if (user.Identity!.IsAuthenticated && currentUri != "candidates"
            && currentUri != "addcandidate")
            {
                // Redirect to Candidates page if authenticated and not already there
                Navigation.NavigateTo("/candidates", forceLoad: true);
            }
            else if (!user.Identity!.IsAuthenticated && currentUri != "Account/Login" && currentUri != "Account/Register"
            && !currentUri.Contains("Account/RegisterConfirmation") && !currentUri.Contains("Account/ConfirmEmail"))
            {
                // Redirect to Login page if not authenticated and not already there
                Navigation.NavigateTo("Account/Login", forceLoad: true);
            }

            isInitialized = true;
        }
    }
}

<!-- Page Layout -->
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>